# Copyright (c) Nohira Atsuki. All rights reserved.

# Environments
.env

### others ###
# *.jpg
# *.png
# *.mp4
# *.json
*.sqlite3
.serena/

### Python ###
**/__pycache__/**
**/*.egg-info/**
coverage.xml
.coverage

### macOS ###
# General
.DS_Store


# End Of Ignore
